PORT=5000
MONGODB_URL=your mongodb url
ACCESS_TOKEN_SECRET=YxrKQCH7TirbJOT19FKrOCZQmAymuFW9xYJbLe74uhMsMwBElQ2LyzDBRVxYLM2E73TjWQ1Q8TH
ACCESS_TOKEN_EXPIRY=10d
REFRESH_TOKEN_SECRET=1qIiVxlxlAB4e6goc4Zd7XukhFlaLQhVDBjFQdRPdjZtu9IcgBkH6bLCW3pZPkqj41tFFQqYEq4
REFRESH_TOKEN_EXPIRY=10d

CORS_ORIGIN=http://localhost:5000
NODE_ENV=development

